@model Forwarder.Models.ExpenseModel
 
@using (Html.BeginForm("Consumpt", "Grid"))
{    
    <div class="row">
        <div class="span3">
           
                <div class="control-group">
                    <label class="span3 text-left">Тип</label>
                    <div class="controls">              
                         @Html.DropDownListFor(m => m.ExpenseTypeId, Model.ExpenseTypes)
                    </div>
                </div>
                <div class="control-group">
                    <label class="span3 text-left">Расход</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Expense)
                    </div>
                </div>   
                <div class="control-group">
                    <label class="span3 text-left">Метод расчета</label>
                    <div class="controls">
                         @Html.DropDownListFor(m => m.Method, Model.Methods)
                    </div>
                </div>      
           
        </div>
        <div class="form-actions">
            <button type = "submit"  style="margin: 0 0 0 100px;">Сохранить</button>
        </div>
    </div>
}