@model Forwarder.Models.ConsumptionModel


<table id = "consumption2"></table>
 <div id ="add_consumpt" class="btn btn-primary controls">+</div>
 <div id ="delete_consumpt" class="btn btn-primary controls">-</div>


