@{
    ViewBag.Title = "Главная страница";
}
        
<div class="span12 form-actions" style="padding-top: 20px">
    
    @Html.Partial("FilterView")
    <table id="list2"></table>
    <div id="pager2"></div>
</div>
