
@{
    ViewBag.Title = "Index";
}

    <div class="span12">
        <h2>Index</h2>
        @Html.Partial("FilterView")
        <button id = "search_btn">Поиск</button>
        <table id="list2"></table>
        <div id="pager2"></div>
        @Html.Partial("NewView")
        @Html.ActionLink("Новый вью", "NewView")
    </div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#list2').jqGrid({
            url: '/Grid/GridView',
            datatype: "json",
            colNames: ['№', 'Регистрационный номер', 'Станция отправления', 'Станция прибытия', 'Классификатор груза по ГНГ', 'Классификатор груза по ЕТСНГ', 'Количество транспортных средств', 'Общий вес перевозки', 'Комментарии', 'Дата регистрации'],
            colModel: [
                { name: 'Id', width: 20, align: "center" },
                { name: 'RegNumber', width: 150, align: "center" },
                { name: 'DispatchStation', width: 150, align: "center" },
                { name: 'ArriveStattion', width: 150, align: "center" },
                { name: 'GHGClassificator', width: 200, align: "center" },
                { name: 'ETSNGClassificator', width: 200, align: "center" },
                { name: 'TransportCount', width: 200, align: "center" },
                { name: 'FullWeight', width: 150, align: "center" },
                { name: 'Comments', width: 150, align: "center" },
                { name: 'RegDate', width: 150, align: "center" }
            ],
            height: 'auto',
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: '#pager2',
            sortname: 'Id',
            viewrecords: true,
            sortorder: "desc",
            caption: "Перевозка",
            onSelectRow: function(id) {
                alert(id);
            },
        });

        $('#search_btn').click(function() {
            var url = '/Grid/GridView?' + 'RegNumber=' + $('#RegNumber').val();
            $('#list2').jqGrid('setGridParam', { url: url });
            $('#list2').trigger('reloadGrid');
        });

        $("#list2").jqGrid('navGrid', '#pager2', 
        { edit: false, add: false, del: false },
        {}, // Опции окон редактирования
        {}, // Опции окон добавления
        {}, // Опции окон удаления
        {
         width:700,        
        }  // Опции окон поиска
        
        );

    });

        
</script>

