@model Forwarder.Models.RouteModel
 
@using (Html.BeginForm("RouterData", "Grid", "Post"))
{    
    @Html.HiddenFor(m => m.Id)
    <div class="row">
        <div class="span3">
                <div class="control-group">
                    <label class="span3 text-left">Дорога</label>
                    <div class="controls">              
                        @Html.DropDownListFor(m => m.RoadId, Model.Roads)
                    </div>
                </div>  
                <div class="control-group">
                    <label class="span3 text-left">Перевозчик</label>
                    <div class="controls">
                         @Html.DropDownListFor(m => m.CarrierId, Model.Carriers)
                    </div>
                </div>
           
        </div>     

        <div class="form-actions">
            <button type = "submit"  style="margin: 0 0 0 100px;">Сохранить</button>
        </div>
    </div>
}