@{
    ViewBag.Title = "Главная страница";
}
        
<div class="span12 form-actions" style="padding-top: 20px">
    <div class="ui-corner-all" style="background-color: lightblue; padding: 10px; margin-bottom: 20px" id="spoilerClick">
        <h4 class="btn-link" style="padding-left: 10px">Фильтр</h4>
        <div  id="spoiler">
            @Html.Partial("FilterView")
        </div>
    </div>
    <table id="list2"></table>
    <div>
        @Html.ActionLink("Регистрация", "TransportationEdit")
    </div>
</div>
