<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.9.1" targetFramework="net40" />
  <package id="jQuery.Ajax.Unobtrusive" version="2.0.20710.0" targetFramework="net40" />
  <package id="jQuery.jqGrid" version="4.4.4" targetFramework="net40" />
  <package id="jQuery.Migrate" version="1.1.1" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.10.1" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.11.0" targetFramework="net40" />
  <package id="jQuery.Validation.Unobtrusive" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="2.0.30116.0" targetFramework="net40" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.30116.0" targetFramework="net40" />
  <package id="Modernizr" version="1.7" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Npgsql" version="2.0.12.1" targetFramework="net40" />
  <package id="Twitter.Bootstrap" version="2.3.0" targetFramework="net40" />
</packages>